* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  background: linear-gradient(to right, #ff5f6d, #ffc371); /* uiGradients: https://uigradients.com/#SweetMorning */
}
